---
# Only the main Sass file needs front matter (the dashes are enough)
---

$content-width:    800px;
$on-palm:          600px;
$on-laptop:        800px;

.column {
  float: left;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@import "minima";